################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Auth/.vs/Auth/v17
/Auth/Auth/obj
/Auth/Auth/bin/Debug/net6.0
/Auth/.vs/Auth
